body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 40px;
    margin: 10px 0;
}

p{
    font-size: 24px;
    margin: 10px 0;
}
input[type="name"] {
    padding: 15px;
    margin: 10px 0;
    width: 250px;
    border-radius: 10px;
    outline: none;
}

input[type="name"]:focus, select:focus {
    box-shadow: 0 0 10px #040024; 
    border: 2px solid #f73ace; 
    outline: none;
}

button{
    background-color: white;
    color: #3498db;
    border: 2px solid #3498db;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

button:hover {
    background-color: #f73ace;
    color: white;
    box-shadow: 0 0 10px #00000033;
}

button:focus {
    box-shadow: 0 0 16px #00000033;
    outline: none;
}

hr {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

main {
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px #040024; 
    transition: box-shadow 0.3s, border-color 0.3s; 
    border: 2px solid transparent;
}

input[type="text"]:focus, select:focus {
    box-shadow: 0 0 10px #040024; 
    border: 2px solid #f73ace; 
    outline: none;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
